/*
body {
  background: linear-gradient(
    #1354a5 0%,
    #041832 33.33%,
    #041832 66.67%,
    #01080e 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  background-image: url("img/code.png");
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.container {
  width: 90vw;
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; 
  border-radius: 1.5rem;
  border: 1px solid #1875e8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url("img/Ruido.png");
  background-size: 100% 100%;
  position: relative;
  bottom: 0;
}

.container__contenido {
  min-width: 15vw;
  display: inline-block;
  align-items: center;
  bottom: 0;
}

.container__informaciones {
  flex: 1;
  padding: 3rem;
}

.button {
  border-radius: 0.75rem;
  background: #1875e8;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  background: rgb(72, 145, 235);
}

.button:active {
  background: #0c4992;
}

.button__icon {
  padding: 0.5rem 0.5rem;
}

.button__text {
  padding: 0.5rem 3rem;
}

.container__boton {
  border-radius: 1rem;
  background: #1875e8;
  padding: 16px 24px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  border: none;
  margin-top: 2rem;
}

.container__boton:disabled {
  background: #898989;
}

.button__setings {
  border: none;
}

.container__texto {
  margin: 16px 0 16px 0;
}

.container__texto-azul {
  color: #1875e8;
}

.container__input {
  width: 100%;
  height: 72px;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  color: #1875e8;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.container__imagen {
  bottom: 0;
}

.container__botones {
  display: flex;
  align-items: center;
  gap: 2em;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 72px;
  padding-bottom: 3rem;
}

p,
button {
  font-family: "Inter", sans-serif;
}

.texto__parrafo {
  font-size: 32px;
  font-weight: 400;
}
*/

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

:root {
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --sky-300: rgb(125 211 252);
  --sky-500: rgb(13, 163, 232);
  --sky-600: rgb(2 132 199);
  --sky-700: rgb(3 105 161);
  --sky-800: rgb(7 89 133);
  --sky-900: rgb(12 74 110);
  --sky-950: rgb(8 47 73);
  --amber-500: rgb(245 158 11);
  --amber-600: rgb(217 119 6);
  --amber-700: rgb(180 83 9);
  --amber-800: rgb(146 64 14);
  --amber-900: rgb(120 53 15);
  --rose-500: rgb(244 63 94);
  --rose-600: rgb(225 29 72);
  --rose-700: rgb(190 18 60);
  --rose-800: rgb(159 18 57);
  --rose-900: rgb(136 19 55);
  --emerald-500: rgb(16 185 129);
  --emerald-600: rgb(5 150 105);
  --emerald-700: rgb(4 120 87);
  --emerald-800: rgb(6 95 70);
  --emerald-900: rgb(6 78 59);
  --bg-degradado1: #25355b;
  --bg-degradado2: rgb(10, 12, 45);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: var(--slate-600);
  color: var(--slate-300);
  font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  text-decoration: none;
}
body {
  background: linear-gradient(var(--slate-900), var(--bg-degradado2));
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--slate-500);
}

.title {
  display: flex;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 350;
  color: var(--slate-400);
}

.title:hover div {
  filter: invert(54%) sepia(44%) saturate(2328%) hue-rotate(166deg)
    brightness(91%) contrast(99%);
}

.title:active div {
  filter: invert(80%) sepia(12%) saturate(2214%) hue-rotate(169deg)
    brightness(100%) contrast(99%);
}

.main {
  max-width: 100%;
  width: 100vw;
  /*height: 80vh;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  flex-grow: 2;
  column-gap: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.header-btns {
  display: flex;
  column-gap: 1rem;
}

.hcard {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: fit-content;
}

.hc-c {
  display: flex;
  width: 10%;
  column-gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hc-c2 {
  width: 20%;
  justify-content: flex-end;
}

.hc-c-center {
  width: 68px;
  justify-content: center;
}

.hc1 {
  order: 1;
}
.hc2 {
  order: 2;
}
.hc3 {
  order: 3;
}
.hc4 {
  order: 4;
}
.hc5 {
  order: 5;
}
.hc6 {
  order: 6;
}
.hc7 {
  order: 7;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;
}

.card {
  width: 100%;
  min-width: 500px;
  max-width: 650px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  gap: 0.25rem;
  border: var(--slate-600) solid 1px;
  border-radius: 0.5rem;
}

.inputIn-card {
  width: 100%;
  display: flex;
}

.inputIn-card-txta {
  max-width: 92%;
  flex-grow: 2;
}

.inputIn-card-x {
  width: 38px;
}

.footer-card {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  color: var(--slate-400);
}

.card-out {
  background: var(--slate-800);
}

.card-output {
  background: center/ 40% no-repeat url("./assets/Muneco.svg"), var(--slate-800);
}

.textarea {
  width: 100%;
  min-height: 11rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 1.4rem;
  color: var(--slate-200);
  background-color: transparent;
  resize: none;
  overflow: hidden;
  border-width: 0;
  word-wrap: break-word;
  pointer-events: auto;
}

.textarea:focus {
  outline: none;
}

.textarea:empty:before {
  content: attr(data-placeholder);
  color: gray;
}

.font-l {
  font-size: 2.2rem;
}

.font-m {
  font-size: 1.8rem;
}

.output-card {
  width: 46%;
  border-radius: 0.5rem;
  background: var(--sky-900);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-header {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.2rem;
}

.max-height {
  min-height: 6rem;
  max-height: 42rem;
  overflow-y: auto;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-cont {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.list-out {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.bubble-out {
  max-width: 80%;
  width: fit-content;
  background-color: var(--sky-950);
  padding: 1rem;
  border-radius: 0.55rem 1.25rem 1.25rem 0.15rem;
  word-wrap: break-word;
}

.bubble-in {
  max-width: 80%;
  width: fit-content;
  align-self: flex-end;
  background-color: var(--sky-700);
  padding: 1rem;
  border-radius: 1.25rem 0.75rem 0.15rem 1.25rem;
  word-wrap: break-word;
}

.footer {
  max-width: 100%;
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  border-top: 1px solid var(--slate-500);
  color: var(--slate-400);
}
.footer a {
  color: var(--sky-300);
}

.footer a:hover {
  filter: invert(54%) sepia(44%) saturate(2328%) hue-rotate(166deg)
    brightness(91%) contrast(99%);
}

.footer a:active {
  filter: invert(54%) sepia(44%) saturate(2328%) hue-rotate(166deg)
    brightness(91%) contrast(99%);
}

.btn {
  background-color: rgba(15, 23, 42, 0.3);
  padding: 0.5rem 2rem;
  text-align: center;
  border: solid 0px;
  border-style: none;
  outline: 0;
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--slate-600);
}

.btn:active {
  background-color: var(--slate-500);
}

.btn-icon {
  padding: 0.2rem 0.4rem;
  border-radius: 25rem;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: transparent;
}

.btn-primary {
  color: var(--slate-200);
  background-color: var(--amber-600);
}

.btn-primary:hover {
  background-color: var(--amber-700);
}
.btn-primary:active {
  background-color: var(--amber-500);
}

.btn-secondary {
  color: var(--slate-200);
  background-color: var(--sky-600);
}

.btn-secondary:hover {
  background-color: var(--sky-700);
}
.btn-secondary:active {
  background-color: var(--sky-500);
}

.btn-danger {
  color: var(--slate-200);
  background-color: var(--rose-600);
}

.btn-danger:hover {
  background-color: var(--rose-700);
}
.btn-danger:active {
  background-color: var(--rose-500);
}

.btn-pro {
  color: var(--slate-200);
  background-color: var(--emerald-700);
}

.btn-pro:hover {
  background-color: var(--emerald-800);
}
.btn-pro:active {
  background-color: var(--emerald-500);
}

.btn-selected {
  border-bottom: solid 3px var(--emerald-700);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 60px;
  text-wrap: nowrap;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 16px;
  position: absolute;
  z-index: 1;
  top: 115%;
  right: 0;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.6s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.85;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(8, 50, 87, 0.4);
}

.modal-content {
  max-width: 85vw;
  min-width: 20vw;
  width: fit-content;
  background-color: var(--slate-800);
  margin: auto;
  padding: 20px;
  border-radius: 0.25rem;
}

.modal-sub-content {
  padding-block: 0.5rem;
}

.modalClose {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.modalClose:hover,
.modalCloseF:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: var(--sky-300);
  text-align: center;
  border-radius: 0.4rem;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 1.75rem;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

e {
  color: var(--rose-500);
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 1020px) {
  .main {
    padding-inline: 0;
  }

  .hc1 {
    width: 26%;
  }

  .hc2 {
    order: 3;
    width: 13%;
    justify-content: flex-start;
  }

  .hc3 {
    order: 5;
    justify-content: flex-start;
  }

  .hc5 {
    width: 1%;
    order: 2;
    visibility: hidden;
  }

  .container {
    flex-wrap: wrap;
    gap: 0;
    padding-inline: 0;
  }

  .card {
    min-width: 100%;
    border-radius: 0;
    border: 0;
  }

  .border-top {
    border-top: var(--slate-600) solid 1px;
  }

  .card-output {
    background: center/ 30% no-repeat url("./assets/Muñeco.svg"),
      var(--slate-800);
  }
}

@media only screen and (max-width: 600px) {
  .hcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .hc1 {
    width: 100%;
    justify-content: center;
  }

  .hc1,
  .hc2,
  .hc3 {
    min-width: 8rem;
  }
  .hc6,
  .hc7 {
    display: none;
  }
}
