/*
body {
  background: linear-gradient(
    #1354a5 0%,
    #041832 33.33%,
    #041832 66.67%,
    #01080e 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  background-image: url("img/code.png");
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.container {
  width: 90vw;
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; 
  border-radius: 1.5rem;
  border: 1px solid #1875e8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url("img/Ruido.png");
  background-size: 100% 100%;
  position: relative;
  bottom: 0;
}

.container__contenido {
  min-width: 15vw;
  display: inline-block;
  align-items: center;
  bottom: 0;
}

.container__informaciones {
  flex: 1;
  padding: 3rem;
}

.button {
  border-radius: 0.75rem;
  background: #1875e8;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  background: rgb(72, 145, 235);
}

.button:active {
  background: #0c4992;
}

.button__icon {
  padding: 0.5rem 0.5rem;
}

.button__text {
  padding: 0.5rem 3rem;
}

.container__boton {
  border-radius: 1rem;
  background: #1875e8;
  padding: 16px 24px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  border: none;
  margin-top: 2rem;
}

.container__boton:disabled {
  background: #898989;
}

.button__setings {
  border: none;
}

.container__texto {
  margin: 16px 0 16px 0;
}

.container__texto-azul {
  color: #1875e8;
}

.container__input {
  width: 100%;
  height: 72px;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  color: #1875e8;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.container__imagen {
  bottom: 0;
}

.container__botones {
  display: flex;
  align-items: center;
  gap: 2em;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 72px;
  padding-bottom: 3rem;
}

p,
button {
  font-family: "Inter", sans-serif;
}

.texto__parrafo {
  font-size: 32px;
  font-weight: 400;
}
*/

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

:root {
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --sky-600: rgb(2 132 199);
  --sky-700: rgb(3 105 161);
  --sky-800: rgb(7 89 133);
  --sky-900: rgb(12 74 110);
  --sky-950: rgb(8 47 73);
  --amber-500: rgb(245 158 11);
  --amber-600: rgb(217 119 6);
  --amber-700: rgb(180 83 9);
  --amber-800: rgb(146 64 14);
  --amber-900: rgb(120 53 15);
  --bg-degradado1: #25355b;
  --bg-degradado2: rgb(10, 12, 45);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: var(--slate-600);
  color: var(--slate-300);
  font-family: Roboto, "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
body {
  background: linear-gradient(var(--slate-900), var(--bg-degradado2));
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--slate-500);
}

.title {
  display: flex;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 350;
  color: var(--slate-400);
}

.main {
  margin-top: 4rem;
  width: 100vw;
  /*height: 80vh;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  column-gap: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.header-btns {
  display: flex;
  column-gap: 1rem;
}

.hcard {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  height: fit-content;
}

.hc-c {
  display: flex;
  width: 20%;
  column-gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hc-c1 {
  justify-content: flex-end;
}
.hc-c2 {
  justify-content: flex-end;
}
.hc-c3 {
  width: 68px;
  justify-content: center;
}
.hc-c4 {
  justify-content: flex-start;
}
.hc-c5 {
  justify-content: flex-end;
}

.card {
  width: 48%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items-end {
  align-items: flex-end;
}

.container-txt-input {
  display: flex;
  justify-content: flex-end;
}

.textarea {
  width: 100%;
  min-width: 500px;
  max-width: 650px;
  border-radius: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 3.25rem;
  padding-block: 1rem;
  font-size: 1.7rem;

  background-color: var(--slate-800);
  color: var(--slate-400);
  resize: none;
  overflow: hidden;
}

.textarea:focus {
  outline: none;
}

.textarea-input {
  background-color: var(--slate-950);
}

.textarea-output {
  background: center/ 28% no-repeat url("./assets/Muñeco.svg"), var(--slate-800);
}

.output-card {
  width: 46%;
  border-radius: 0.5rem;
  background: var(--sky-900);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  font-size: 0.85rem;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  border-top: 1px solid var(--slate-500);
  color: var(--slate-400);
}

.btn {
  background-color: rgba(15, 23, 42, 0.3);
  padding: 0.5rem 2rem;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--slate-600);
}

.btn:active {
  background-color: var(--slate-500);
}

.btn-icon {
  padding: 0.2rem 0.6rem;
  border-radius: 25rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn-primary {
  color: var(--slate-200);
  background-color: var(--amber-600);
}

.btn-primary:hover {
  background-color: var(--amber-700);
}
.btn-primary:active {
  background-color: var(--amber-500);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 115%;
  left: 0;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.6s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.85;
}

/* breack en 1025px */
